.navbar-dark{
    background: #ffff00;
}
body{
    background-color: #3e4c63;
}

.jumbotron{
    margin: 0px auto;
    padding: 100px 30px;
    color: floralwhite;
    background: #3e4c63;
}

.jumbotron img{
    height: 250px;
    background: rgba(255,255,246,1);
    padding-bottom: 8px;
    
}

#verticalLine{
    height: 85%;
    width: 3px;
    background-color: floralwhite;
    border-radius: 30%;
}

#verticalLineRight{
    height: 85%;
    width: 3px;
    margin-left: 80px;
    background-color: floralwhite;
    border-radius: 30%;
}


#card{
    margin-bottom: 60px;
    background-color: #6b82b0;
}

#card p{
    color: floralwhite;
}

#cardA{
    margin-bottom: 60px;
    margin-top: 60px;
    background-color: #6b82b0;
}

#cardA p{
    color: floralwhite;
}

.tab-content {
    border-left: 2px solid #6b82b0;
    border-right: 2px solid #6b82b0;
    border-bottom: 2px solid #6b82b0;
    padding: 10px; }

#education{
    margin-bottom: 25px;
}   

#education .tab-content img{
    height: 100px;
}

#grades{
    padding-top: 15px;
}

#schoolGrades{
    background-color: #6b82b0;
}

.skills{
    background-color: #6b82b0;
    margin-bottom: 30px;
    border-radius: 15px;
}

.skills h5{
    color: floralwhite;
}
.skills .card-title{
    color: #6b82b0;
}

.skills .inner{
    padding: 10px 20px;
}

.skills .card{
    margin-bottom: 30px;
}

.skills img{
    height: 100px;
    width: 100px;
    margin: 0px auto;
}

.project-box .card:hover{
    box-shadow: -1px 9px 40px -12px #abc1d1;
}

.project-box{
    margin-bottom: 15px;
}

.project-box .card-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #6b82b0;
}

.project-card{
    margin-bottom: 15px;
}

.project-box .card-body #links{
    display: flex;
    justify-content: space-between;
}
.project-box .card-body #links a{
    border-radius: 50%;
    background-color: #32a8a4;
}

.head{
    display: flex;
    justify-content: space-between;
}

.head span{
    margin-top: 20px;
    margin-right: 25px;
}

.footer{
    margin: 0px auto;
    padding: 20px 0px;
    color: floralwhite;
    background-color: #212529;
}

address{
    font-size: 80%;
    margin: 0px;
}

.footer .text-center a{
    margin-bottom: 4px;
}